<% if !@res["items"].empty? %>

<img src= @res["items"][0]["snippet"]["thumbnails"]["medium"]  >
 <%= @res["items"][0]["snippet"]["title"] %>
 <%= @res["items"][0]["snippet"]["description"] %>

 <% else %>
 <p>Wrong Link!!! Try Another One</p>
 <% end %>