<div id="show_res" class="box"> 
 	
 	 @desc 
 	
 <%= res["items"][0]["snippet"]["title"] %>
 <%= @res["items"][0]["snippet"]["description"] %>
 <%=  @res["items"][0]["snippet"]["thumbnails"]["medium"] %>
</div>