
<section class="moveright">
<br>
<h2>Add,Save Youtube Videos (Add Youtube Video ID in link , Not Complete Link)</h1>

	
	<br>
<div id = "link_form">
	<%= form_tag(apiyoutube_ldetails_path, method: "post" , remote: true ) do %>
	  
	  <%= label_tag(:chk_link, "Link Id")  %><br>
	  <%= text_field_tag 'chk_link', nil, class: 'clear' %>
	  <br><br>
	  <%= submit_tag "Check & Save", class: "btn btn-success" %>

	<% end %>
</div>
<br>
<hr>
	<div id="show_res" class="box"> 
	
	
 	</div>
</section>
