<section class="moveright" >
		<div >
			<br>
			<h1>My Playlist</h1>
			<p>Always keep improving your taste!!!</p>
		</div>
		<script>
			function refreshPage(){
			   setTimeout(window.location.reload(),5000);
			} 
		</script>

		<% Mydb.all.each do |my| %>
		<div class="panel panel-success">
			<div class="panel-heading">
			<br><br>
								
				<%= image_tag(my.image, :alt => "Pic Unavailable") %>
			<b>	<%= my.title %> 
				<%= link_to "Open Video", my.vid_link,class: " btn btn-primary" ,:target => "_blank" %>
				<%= link_to 'Destroy', my, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" ,  :onClick => "refreshPage()" %>
			</b>	
				
			<br><br>
			</div>

		</div>
    	
    	
    
    <% end %>
</section>