<h1>Index#homepage</h1>
<p>Find me in app/views/index/homepage.html.erb</p>

 <div>
 	
	<% Mydb.all.each do |mydb| %>
	<%= image_tag(mydb.image, :alt => "Pic Unavailable") %>
	<%= mydb.title %>
	  <%= mydb.vid_link %>
	<% end %>
</div>